<a href="https://colab.research.google.com/github/Lomzem/LomzemStockQuant/blob/main/LomzemStocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import os
import pandas as pd
import datetime
import sys

wanted_sheet_path = '/content/drive/MyDrive/LomzemStockCharts/stocks_to_obtain.xlsx'
raw_stock_data_path = '/content/drive/MyDrive/LomzemStockCharts/rawstockdata'

def get_stock_data(date, ticker):
	api_url = f'https://api.polygon.io/v2/aggs/ticker/{ticker}/range/1/minute/{date}/{date}?adjusted=true&sort=asc&limit=50000&apiKey=IyEWxobQmnBJh0QwQeNOWH7QggrJGFjp'
	try:
		data = requests.get(api_url).json()
		stock_df = pd.DataFrame(data['results'])
		stock_df.rename(columns = {'c': 'Close', 'h': 'High', 'l': 'Low', 'o': 'Open', 'v': 'Volume', 't': 'Time'}, inplace=True)
		stock_df.insert(0, 'Ticker', ticker)
		stock_df.insert(1, 'FTime', stock_df.apply(lambda row: pd.to_datetime(row['Time']-1.44e+7, unit='ms'), axis=1))
		stock_df.to_excel(f'{raw_stock_data_path}/{date}-{ticker}.xlsx', index=False)
		print(f'Got {raw_stock_data_path}/{date}-{ticker}.xlsx')
	except KeyError:
		print('Wait a little longer')
		sys.exit()

def read_wanted_sheet():
	df = pd.read_excel(wanted_sheet_path)
	for index, row in df.iterrows():
		files = [file for file in os.listdir(raw_stock_data_path)]
		if not (f'{row["Date"].date()}-{row["Ticker"]}.xlsx') in files:
			get_stock_data(row['Date'].date(), row['Ticker'].upper())

read_wanted_sheet()

In [ ]:
import pandas as pd
import os

cum_stock_data = pd.DataFrame()

for file in os.listdir('/content/drive/MyDrive/LomzemStockCharts/rawstockdata'):
	df = pd.read_excel(f'/content/drive/MyDrive/LomzemStockCharts/rawstockdata/{file}')
	cum_stock_data = pd.concat([cum_stock_data, df])

print(cum_stock_data)
cum_stock_data.to_excel('/content/drive/MyDrive/LomzemStockCharts/cumulative_stock_data.xlsx', index=False)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [105]:
import requests
import os
import pandas as pd
import datetime

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df = pd.read_excel('/content/drive/MyDrive/LomzemStockCharts/cumulative_stock_data.xlsx')
ddf = pd.DataFrame()

ddf = pd.concat([ddf, df[['Ticker', 'FTime']]])
ddf['FTime'] = ddf['FTime'].dt.date

# df.loc[192]
# Get Open
t_df = df.loc[df['FTime'].dt.time==datetime.time(9,30), ['Ticker', 'FTime', 'Open']]
t_df['FTime'] = t_df['FTime'].dt.date
ddf = ddf.merge(t_df, on=['Ticker', 'FTime'])

# Get Close
t_df = df.loc[df['FTime'].dt.time==datetime.time(15,59), ['Ticker', 'FTime', 'Close']]
t_df['FTime'] = t_df['FTime'].dt.date
ddf = ddf.merge(t_df, on=['Ticker', 'FTime'])

# Get High
t_df = df.loc[(df['FTime'].dt.time>=datetime.time(9,30)) & (df['FTime'].dt.time<=datetime.time(15,59))]
t_df = t_df[['Ticker', 'FTime', 'High']]
t_df['FTime'] = t_df['FTime'].dt.date
idx = t_df.groupby(['Ticker', 'FTime'])['High'].transform(max) == t_df['High']
t_df = t_df[idx].drop_duplicates()
ddf = ddf.merge(t_df, on=['Ticker', 'FTime'])

# Get Low
t_df = df.loc[(df['FTime'].dt.time>=datetime.time(9,30)) & (df['FTime'].dt.time<=datetime.time(15,59))]
t_df = t_df[['Ticker', 'FTime', 'Low']]
t_df['FTime'] = t_df['FTime'].dt.date
idx = t_df.groupby(['Ticker', 'FTime'])['Low'].transform(min) == t_df['Low']
t_df = t_df[idx].drop_duplicates()
ddf = ddf.merge(t_df, on=['Ticker', 'FTime'])

# Get Volume
t_df = df.loc[(df['FTime'].dt.time>=datetime.time(4,0)) & (df['FTime'].dt.time<=datetime.time(20,0))]
t_df = t_df[['Ticker', 'FTime', 'Volume']]
t_df['FTime'] = t_df['FTime'].dt.date
t_df = t_df.groupby(['Ticker', 'FTime'])['Volume'].sum()
t_df.drop_duplicates(inplace=True)
ddf = ddf.merge(t_df, on=['Ticker', 'FTime'])

# Get Premarket Volume
t_df = df.loc[(df['FTime'].dt.time>=datetime.time(4,0)) & (df['FTime'].dt.time<datetime.time(9,30))]
t_df = t_df[['Ticker', 'FTime', 'Volume']]
t_df['FTime'] = t_df['FTime'].dt.date
t_df.rename(columns={'Volume': 'PVolume'}, inplace=True)
t_df = t_df.groupby(['Ticker', 'FTime'])['PVolume'].sum()
t_df.drop_duplicates(inplace=True)
ddf = ddf.merge(t_df, on=['Ticker', 'FTime'])

# Get Gap %
ddf.sort_values(['Ticker', 'FTime'], inplace=True)
ddf.rename(columns={'FTime': 'Date'}, inplace=True)
ddf.drop_duplicates(inplace=True)
ddf['Gap %'] = (ddf['Open'] / ddf.groupby('Ticker').shift(1)['Close'] - 1) * 100

# Get Volume Ratio
ddf['Vol Ratio'] = ddf['Volume']/ddf['PVolume']

ddf
# print(ddf.head())
# print(ddf.groupby('Ticker')['Close'].shift(1).head())
# t_df

,Ticker,Date,Open,Close,High,Low,Volume,PVolume,Gap %,Vol Ratio
25736,ADN,2022-04-05,2.22,2.0100,2.2800,1.9850,1249714,2330,NaN,536.357940
25082,ADN,2022-04-06,2.58,3.6350,3.9800,2.4700,162103715,1049987,28.358209,154.386402
24268,ADN,2022-04-07,3.32,3.3000,3.4500,3.0400,19160827,2447205,-8.665750,7.829678
23635,ADN,2022-04-08,3.36,2.9401,3.5500,2.8000,9323953,404272,1.818182,23.063564
23131,ADN,2022-04-11,2.81,2.6800,2.8300,2.5700,2888275,131866,-4.425020,21.903106
22558,AXSM,2022-04-19,40.26,40.9200,41.6100,38.0500,11045166,2037628,NaN,5.420600
21843,CASA,2022-04-18,6.04,7.1100,7.1800,5.6300,185110834,15728315,NaN,11.769273
21058,CASA,2022-04-19,6.58,6.5400,6.9500,6.0200,37292653,4309616,-7.454290,8.653359
20870,CELZ,2022-03-22,1.70,1.7000,1.8000,1.6300,469405,4660,NaN,100.730687
20194,CELZ,2022-03-23,3.45,3.1100,3.9000,2.6300,140002440,21615566,102.941176,6.476927
19492,CELZ,2022-03-24,2.88,3.2200,3.2900,2.7300,7068281,836731,-7.395498,8.447495
18949,CELZ,2022-03-25,3.10,3.5300,3.6500,2.9400,5577458,78392,-3.726708,71.148306
18369,CELZ,2022-03-28,4.06,4.5550,5.1450,3.8000,43388070,1855634,15.014164,23.381804
17815,CELZ,2022-03-29,3.94,3.6350,3.9965,3.4500,3428412,195210,-13.501647,17.562686
17364,CELZ,2022-03-30,3.58,3.3900,3.6600,3.1000,2108449,74597,-1.513067,28.264528
16838,CELZ,2022-03-31,3.77,3.8950,4.5000,3.7100,20257179,1658012,11.209440,12.217752
16467,CELZ,2022-04-01,3.64,3.6400,3.7300,3.3704,1599640,52496,-6.546855,30.471655
16146,CELZ,2022-04-04,3.65,3.5600,4.1500,3.5400,1624516,16885,0.274725,96.210601
15902,CELZ,2022-04-05,3.55,3.3700,3.6707,3.3000,721249,7898,-0.280899,91.320461
15657,CELZ,2022-04-06,3.28,3.5700,3.8000,3.2800,1095234,76467,-2.670623,14.322963
15374,CELZ,2022-04-07,3.54,3.5000,3.7100,3.3500,1208491,2407,-0.840336,502.073536
15136,CELZ,2022-04-08,3.47,3.5229,3.8300,3.4000,1187641,6895,-0.857143,172.246701
14878,CELZ,2022-04-11,3.45,3.2700,3.5800,3.0100,953309,2463,-2.069318,387.051969
26112,HUSA,2022-03-07,3.65,9.6700,10.4100,2.9600,199262937,8537434,NaN,23.339910
27067,HUSA,2022-03-08,12.77,6.8374,17.3000,5.9100,62446356,5364085,32.057911,11.641567
27966,HUSA,2022-03-09,7.10,7.0850,9.4500,5.5900,59950395,1725498,3.840641,34.743822
28867,HUSA,2022-03-10,8.74,8.3600,9.8800,7.7600,32218268,2645287,23.359210,12.179498
14333,HUSA,2022-04-14,3.38,4.9900,5.0500,3.2200,19204596,36877,-59.569378,520.774358
13664,HUSA,2022-04-18,4.78,5.0000,5.7800,4.3500,24821156,532154,-4.208417,46.642806
13122,HUSA,2022-04-19,4.31,4.5452,4.7800,4.1600,4095015,216426,-13.800000,18.921086
12350,INDO,2022-03-03,21.28,19.6470,25.2500,17.1500,46464645,3219715,NaN,14.431291
11523,INDO,2022-03-04,23.39,39.0722,49.0000,22.1000,66286519,1550173,19.051255,42.760723
10790,INDO,2022-03-07,47.04,73.5000,86.9922,41.0101,23314326,734036,20.392504,31.761829
10108,INDO,2022-03-08,65.00,39.9200,81.0700,32.9000,7952065,270954,-11.564626,29.348395
9483,INDO,2022-03-10,41.89,38.8357,47.2399,37.1000,7987945,714620,4.934870,11.177892
8924,INDO,2022-03-11,37.14,27.7900,38.7129,24.8900,2926829,60266,-4.366343,48.565178
8424,INDO,2022-03-14,25.38,23.8500,31.5000,23.4000,3339535,88484,-8.672184,37.741682
7993,INDO,2022-04-14,15.18,26.4000,27.7500,14.3201,9856188,1142,-36.352201,8630.637478
7436,INDO,2022-04-18,23.20,25.7823,30.6900,22.6000,11393262,174967,-12.121212,65.116633
6996,INDO,2022-04-19,23.55,24.0400,25.9700,22.6100,1919105,60516,-8.658266,31.712357
6339,MDVL,2022-04-14,1.41,2.4392,2.6700,1.3400,58595779,48869,NaN,1199.037815
5467,STSS,2022-04-19,2.44,2.4300,3.6200,2.3200,109684289,7813576,NaN,14.037656
5115,VERU,2022-04-08,4.52,4.3500,4.5500,4.3400,524067,2751,NaN,190.500545
4313,VERU,2022-04-11,5.99,12.2300,14.5700,5.6800,351280013,6471036,37.701149,54.284973
3374,VERU,2022-04-12,13.61,10.0185,13.8700,9.6000,90111537,13100674,11.283729,6.878389
2504,VERU,2022-04-13,10.55,14.3000,14.5000,9.9400,187009914,3037405,5.305185,61.568975
1564,VERU,2022-04-14,15.49,14.9400,17.5000,13.2000,179521375,10927729,8.321678,16.428059
748,VERU,2022-04-18,13.60,11.8900,14.4500,11.5500,33073896,1788703,-8.969210,18.490435
0,VERU,2022-04-19,11.78,12.6300,12.8600,11.6400,24120474,563143,-0.925147,42.831881