<a href="https://colab.research.google.com/github/Lomzem/LomzemStockQuant/blob/main/LomzemStocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import os
import pandas as pd
import datetime
import sys

wanted_sheet_path = '/content/drive/MyDrive/LomzemStockCharts/stocks_to_obtain.xlsx'
raw_stock_data_path = '/content/drive/MyDrive/LomzemStockCharts/rawstockdata'

def get_stock_data(date, ticker):
	api_url = f'https://api.polygon.io/v2/aggs/ticker/{ticker}/range/1/minute/{date}/{date}?adjusted=true&sort=asc&limit=50000&apiKey=IyEWxobQmnBJh0QwQeNOWH7QggrJGFjp'
	try:
		data = requests.get(api_url).json()
		stock_df = pd.DataFrame(data['results'])
		stock_df.rename(columns = {'c': 'Close', 'h': 'High', 'l': 'Low', 'o': 'Open', 'v': 'Volume', 't': 'Time'}, inplace=True)
		stock_df.insert(0, 'Ticker', ticker)
		stock_df.insert(1, 'FTime', stock_df.apply(lambda row: pd.to_datetime(row['Time']-1.44e+7, unit='ms'), axis=1))
		stock_df.to_excel(f'{raw_stock_data_path}/{date}-{ticker}.xlsx', index=False)
		print(f'Got {raw_stock_data_path}/{date}-{ticker}.xlsx')
	except KeyError:
		print('Wait a little longer')
		sys.exit()

def read_wanted_sheet():
	df = pd.read_excel(wanted_sheet_path)
	for index, row in df.iterrows():
		files = [file for file in os.listdir(raw_stock_data_path)]
		if not (f'{row["Date"].date()}-{row["Ticker"]}.xlsx') in files:
			if row['Date'].date() < datetime.date.today()-datetime.timedelta(days=1):
				get_stock_data(row['Date'].date(), row['Ticker'].upper())

read_wanted_sheet()

Got /content/drive/MyDrive/LomzemStockCharts/rawstockdata/2021-11-24-LGVN.xlsx
Wait a little longer

SystemExit: ignored

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2890: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [2]:
# import pandas as pd
import os

cum_stock_data = pd.DataFrame()

for file in os.listdir('/content/drive/MyDrive/LomzemStockCharts/rawstockdata'):
	df = pd.read_excel(f'/content/drive/MyDrive/LomzemStockCharts/rawstockdata/{file}')
	cum_stock_data = pd.concat([cum_stock_data, df])

print(cum_stock_data)
cum_stock_data.to_excel('/content/drive/MyDrive/LomzemStockCharts/cumulative_stock_data.xlsx', index=False)

    Ticker               FTime  Volume       vw   Open  Close   High    Low  \
0     VERU 2022-04-11 06:30:00    7448   5.1801   4.91   5.47   5.48   4.55
1     VERU 2022-04-11 06:31:00    6869   5.3946   5.20   5.45   5.93   5.16
2     VERU 2022-04-11 06:32:00   49308   6.0368   5.42   5.72   6.53   5.42
3     VERU 2022-04-11 06:33:00   38057   5.6815   5.73   5.71   5.90   5.50
4     VERU 2022-04-11 06:34:00   29283   5.6577   5.75   5.70   5.83   5.51
..     ...                 ...     ...      ...    ...    ...    ...    ...
827   LGVN 2021-11-24 20:55:00   11561  29.8882  30.00  29.88  30.05  29.82
828   LGVN 2021-11-24 20:56:00   12496  29.9550  29.91  30.04  30.06  29.87
829   LGVN 2021-11-24 20:57:00   15450  29.9195  30.02  29.80  30.02  29.75
830   LGVN 2021-11-24 20:58:00   21116  29.6869  29.90  29.50  29.90  29.50
831   LGVN 2021-11-24 20:59:00   50844  28.6939  29.58  28.40  29.75  28.14

              Time    n   a  op
0    1649673000000   55 NaN NaN
1    1649673060000   51 NaN NaN
2    1649673120000  333 NaN NaN
3    1649673180000  258 NaN NaN
4    1649673240000  266 NaN NaN
..             ...  ...  ..  ..
827  1637801700000   78 NaN NaN
828  1637801760000   97 NaN NaN
829  1637801820000  147 NaN NaN
830  1637801880000  155 NaN NaN
831  1637801940000  415 NaN NaN

[39542 rows x 12 columns]

In [3]:
import requests
import os
import pandas as pd
import datetime

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df = pd.read_excel('/content/drive/MyDrive/LomzemStockCharts/cumulative_stock_data.xlsx')
ddf = pd.DataFrame()

ddf = pd.concat([ddf, df[['Ticker', 'FTime']]])
ddf['FTime'] = ddf['FTime'].dt.date

# df.loc[192]
# Get Open
t_df = df.loc[df['FTime'].dt.time==datetime.time(9,30), ['Ticker', 'FTime', 'Open']]
t_df['FTime'] = t_df['FTime'].dt.date
ddf = ddf.merge(t_df, on=['Ticker', 'FTime'])

# Get Close
t_df = df.loc[df['FTime'].dt.time==datetime.time(15,59), ['Ticker', 'FTime', 'Close']]
t_df['FTime'] = t_df['FTime'].dt.date
ddf = ddf.merge(t_df, on=['Ticker', 'FTime'])

# Get High
t_df = df.loc[(df['FTime'].dt.time>=datetime.time(9,30)) & (df['FTime'].dt.time<=datetime.time(15,59))]
t_df = t_df[['Ticker', 'FTime', 'High']]
t_df['FTime'] = t_df['FTime'].dt.date
idx = t_df.groupby(['Ticker', 'FTime'])['High'].transform(max) == t_df['High']
t_df = t_df[idx].drop_duplicates()
ddf = ddf.merge(t_df, on=['Ticker', 'FTime'])

# Get Low
t_df = df.loc[(df['FTime'].dt.time>=datetime.time(9,30)) & (df['FTime'].dt.time<=datetime.time(15,59))]
t_df = t_df[['Ticker', 'FTime', 'Low']]
t_df['FTime'] = t_df['FTime'].dt.date
idx = t_df.groupby(['Ticker', 'FTime'])['Low'].transform(min) == t_df['Low']
t_df = t_df[idx].drop_duplicates()
ddf = ddf.merge(t_df, on=['Ticker', 'FTime'])

# Get Volume
t_df = df.loc[(df['FTime'].dt.time>=datetime.time(4,0)) & (df['FTime'].dt.time<=datetime.time(20,0))]
t_df = t_df[['Ticker', 'FTime', 'Volume']]
t_df['FTime'] = t_df['FTime'].dt.date
t_df = t_df.groupby(['Ticker', 'FTime'])['Volume'].sum()
t_df.drop_duplicates(inplace=True)
ddf = ddf.merge(t_df, on=['Ticker', 'FTime'])

# Get Premarket Volume
t_df = df.loc[(df['FTime'].dt.time>=datetime.time(4,0)) & (df['FTime'].dt.time<datetime.time(9,30))]
t_df = t_df[['Ticker', 'FTime', 'Volume']]
t_df['FTime'] = t_df['FTime'].dt.date
t_df.rename(columns={'Volume': 'PVolume'}, inplace=True)
t_df = t_df.groupby(['Ticker', 'FTime'])['PVolume'].sum()
t_df.drop_duplicates(inplace=True)
ddf = ddf.merge(t_df, on=['Ticker', 'FTime'])

# Get Gap %
ddf.sort_values(['Ticker', 'FTime'], inplace=True)
ddf.drop_duplicates(inplace=True)
ddf['Gap %'] = (ddf['Open'] / ddf.groupby('Ticker').shift(1)['Close'] - 1) * 100

# Get Volume Ratio
ddf['Vol Ratio'] = ddf['Volume']/ddf['PVolume']

# Get Premarket High
t_df = df.loc[(df['FTime'].dt.time>=datetime.time(4,00)) & (df['FTime'].dt.time<datetime.time(9,30))]
t_df = t_df[['Ticker', 'FTime', 'High']]
t_df['FTime'] = t_df['FTime'].dt.date
t_df.rename(columns={'High': 'PHigh'}, inplace=True)
idx = t_df.groupby(['Ticker', 'FTime'])['PHigh'].transform(max) == t_df['PHigh']
t_df = t_df[idx].drop_duplicates()
ddf = ddf.merge(t_df, on=['Ticker', 'FTime'])

ddf.rename(columns={'FTime': 'Date'}, inplace=True)

ddf
# print(ddf.head())
# print(ddf.groupby('Ticker')['Close'].shift(1).head())
# t_df

,Ticker,Date,Open,Close,High,Low,Volume,PVolume,Gap %,Vol Ratio,PHigh
0,ADN,2022-04-05,2.2200,2.0100,2.2800,1.9850,1249714,2330,NaN,536.357940,2.2600
1,ADN,2022-04-06,2.5800,3.6350,3.9800,2.4700,162103715,1049987,28.358209,154.386402,2.6600
2,ADN,2022-04-07,3.3200,3.3000,3.4500,3.0400,19160827,2447205,-8.665750,7.829678,3.8800
3,ADN,2022-04-08,3.3600,2.9401,3.5500,2.8000,9323953,404272,1.818182,23.063564,3.3900
4,ADN,2022-04-11,2.8100,2.6800,2.8300,2.5700,2888275,131866,-4.425020,21.903106,2.9200
5,AXSM,2022-04-19,40.2600,40.9200,41.6100,38.0500,11045166,2037628,NaN,5.420600,46.8000
6,CASA,2022-04-18,6.0400,7.1100,7.1800,5.6300,185110834,15728315,NaN,11.769273,6.0500
7,CASA,2022-04-19,6.5800,6.5400,6.9500,6.0200,37292653,4309616,-7.454290,8.653359,7.1600
8,CELZ,2022-03-22,1.7000,1.7000,1.8000,1.6300,469405,4660,NaN,100.730687,1.7500
9,CELZ,2022-03-23,3.4500,3.1100,3.9000,2.6300,140002440,21615566,102.941176,6.476927,3.5600
10,CELZ,2022-03-24,2.8800,3.2200,3.2900,2.7300,7068281,836731,-7.395498,8.447495,3.2500
11,CELZ,2022-03-25,3.1000,3.5300,3.6500,2.9400,5577458,78392,-3.726708,71.148306,3.3000
12,CELZ,2022-03-28,4.0600,4.5550,5.1450,3.8000,43388070,1855634,15.014164,23.381804,4.4400
13,CELZ,2022-03-29,3.9400,3.6350,3.9965,3.4500,3428412,195210,-13.501647,17.562686,4.3500
14,CELZ,2022-03-30,3.5800,3.3900,3.6600,3.1000,2108449,74597,-1.513067,28.264528,3.6800
15,CELZ,2022-03-31,3.7700,3.8950,4.5000,3.7100,20257179,1658012,11.209440,12.217752,5.0000
16,CELZ,2022-04-01,3.6400,3.6400,3.7300,3.3704,1599640,52496,-6.546855,30.471655,3.9600
17,CELZ,2022-04-04,3.6500,3.5600,4.1500,3.5400,1624516,16885,0.274725,96.210601,3.6500
18,CELZ,2022-04-05,3.5500,3.3700,3.6707,3.3000,721249,7898,-0.280899,91.320461,3.7000
19,CELZ,2022-04-06,3.2800,3.5700,3.8000,3.2800,1095234,76467,-2.670623,14.322963,3.4900
20,CELZ,2022-04-07,3.5400,3.5000,3.7100,3.3500,1208491,2407,-0.840336,502.073536,3.6100
21,CELZ,2022-04-08,3.4700,3.5229,3.8300,3.4000,1187641,6895,-0.857143,172.246701,3.6100
22,CELZ,2022-04-11,3.4500,3.2700,3.5800,3.0100,953309,2463,-2.069318,387.051969,3.5282
23,CRXT,2022-04-19,1.2800,1.4627,1.5000,1.1100,17825336,1001437,NaN,17.799758,1.4200
24,HUSA,2022-03-07,3.6500,9.6700,10.4100,2.9600,199262937,8537434,NaN,23.339910,5.7900
25,HUSA,2022-03-08,12.7700,6.8374,17.3000,5.9100,62446356,5364085,32.057911,11.641567,15.9100
26,HUSA,2022-03-09,7.1000,7.0850,9.4500,5.5900,59950395,1725498,3.840641,34.743822,8.5700
27,HUSA,2022-03-10,8.7400,8.3600,9.8800,7.7600,32218268,2645287,23.359210,12.179498,9.2000
28,HUSA,2022-04-14,3.3800,4.9900,5.0500,3.2200,19204596,36877,-59.569378,520.774358,3.4800
29,HUSA,2022-04-18,4.7800,5.0000,5.7800,4.3500,24821156,532154,-4.208417,46.642806,4.8500
30,HUSA,2022-04-19,4.3100,4.5452,4.7800,4.1600,4095015,216426,-13.800000,18.921086,4.9100
31,INDO,2022-03-03,21.2800,19.6470,25.2500,17.1500,46464645,3219715,NaN,14.431291,23.1900
32,INDO,2022-03-04,23.3900,39.0722,49.0000,22.1000,66286519,1550173,19.051255,42.760723,25.4299
33,INDO,2022-03-07,47.0400,73.5000,86.9922,41.0101,23314326,734036,20.392504,31.761829,57.9900
34,INDO,2022-03-08,65.0000,39.9200,81.0700,32.9000,7952065,270954,-11.564626,29.348395,67.0000
35,INDO,2022-03-10,41.8900,38.8357,47.2399,37.1000,7987945,714620,4.934870,11.177892,47.8500
36,INDO,2022-03-11,37.1400,27.7900,38.7129,24.8900,2926829,60266,-4.366343,48.565178,40.8000
37,INDO,2022-03-14,25.3800,23.8500,31.5000,23.4000,3339535,88484,-8.672184,37.741682,29.4900
38,INDO,2022-04-14,15.1800,26.4000,27.7500,14.3201,9856188,1142,-36.352201,8630.637478,15.8000
39,INDO,2022-04-18,23.2000,25.7823,30.6900,22.6000,11393262,174967,-12.121212,65.116633,25.6900
40,INDO,2022-04-19,23.5500,24.0400,25.9700,22.6100,1919105,60516,-8.658266,31.712357,25.0200
41,LGVN,2021-11-18,3.2200,8.0899,8.8999,3.2000,276177611,253020,NaN,1091.524824,3.8000
42,LGVN,2021-11-19,13.0200,10.2300,14.7500,8.9500,102452657,18636432,60.941421,5.497439,14.4400
43,LGVN,2021-11-22,8.6500,18.1723,19.4300,8.3100,128290103,792168,-15.444770,161.948101,10.3500
44,LGVN,2021-11-23,26.2501,15.3900,27.5000,14.5000,24200675,2584133,44.451170,9.365104,34.8400
45,LGVN,2021-11-24,19.9000,38.9600,43.0700,17.3600,99303891,1320486,29.304743,75.202532,23.3800
46,LGVN,2022-03-30,7.0200,6.7100,7.7200,6.6862,1561942,1181,-81.981520,1322.558848,7.1400
47,LGVN,2022-03-31,9.3900,13.7343,14.2400,8.8400,137325639,9242344,39.940387,14.858313,9.8300
48,LGVN,2022-04-01,15.5900,15.5601,16.7700,13.5200,81978930,11255574,13.511428,7.283407,16.3900
49,LGVN,2022-04-04,14.1500,12.8100,14.5000,12.6000,12875083,844878,-9.062281,15.238985,15.7900
50,LGVN,2022-04-05,12.1700,11.5999,15.4900,11.4100,23428283,400641,-4.996097,58.476998,12.6000
51,MDVL,2022-04-14,1.4100,2.4392,2.6700,1.3400,58595779,48869,NaN,1199.037815,1.4800
52,STSS,2022-04-19,2.4400,2.4300,3.6200,2.3200,109684289,7813576,NaN,14.037656,3.2000
53,VERU,2022-04-08,4.5200,4.3500,4.5500,4.3400,524067,2751,NaN,190.500545,4.5600
54,VERU,2022-04-11,5.9900,12.2300,14.5700,5.6800,351280013,6471036,37.701149,54.284973,6.5300
55,VERU,2022-04-12,13.6100,10.0185,13.8700,9.6000,90111537,13100674,11.283729,6.878389,15.3500
56,VERU,2022-04-13,10.5500,14.3000,14.5000,9.9400,187009914,3037405,5.305185,61.568975,11.0700
57,VERU,2022-04-14,15.4900,14.9400,17.5000,13.2000,179521375,10927729,8.321678,16.428059,16.6200
58,VERU,2022-04-18,13.6000,11.8900,14.4500,11.5500,33073896,1788703,-8.969210,18.490435,15.0000
59,VERU,2022-04-19,11.7800,12.6300,12.8600,11.6400,24120474,563143,-0.925147,42.831881,12.7300